main {
    background-color: hsl(140, 50%, 90%);
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    width: 100%;
    gap: 2rem;
}

section {
    flex-direction: column;
    display: flex;
    gap: 1rem;
    flex: 1;
}

#reset {
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 100%;
}

app-pokemon-detail {
    flex: 1;
}

.pokedex {
    height: calc(100vh - 2rem);
    justify-content: center;
    width: max(22rem, 25%);
    flex-direction: column;
    display: flex;
    gap: 1rem;
}

.navigation {
    justify-content: center;
    display: flex;
    height: 5rem;

    button {
        background-color: hsl(140, 50%, 85%);
        align-content: center;
        transition: 250ms all;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        border: none;
        height: 5rem;

        &:hover {
            background-color: hsl(140, 50%, 75%);
        }
        
        &#navigate-left {
            mask: url('./../../../public/svg/arrow-up.svg') no-repeat center / contain;
        }

        &#navigate-right {
            mask: url('./../../../public/svg/arrow-down.svg') no-repeat center / contain;
        }
    }
}

.pokemons {
    -ms-overflow-style: none;
    flex-direction: column;
    scrollbar-width: none;
    overflow-y: scroll;
    align-items: end;
    display: flex;
    flex: 1;

    &::-webkit-scrollbar {
        display: none;
    }

}

.pokemon {
    background-color: hsl(140, 50%, 85%);
    color: hsl(0, 0%, 0%);
    transition: 250ms all;
    text-decoration: none;
    padding: 0.4rem;
    cursor: pointer;
    width: 98%;

    &.selected {
        background-color: hsl(140, 50%, 75%);
    }

    &.selected, &:hover {
        transform: scale(1.02) translateX(-0.25rem);
        border-radius: 0.4rem 0 0 0.4rem;
    }
}

@media screen and (max-width: 970px) {
    main {
        flex-direction: column;
        gap: 1rem;
    }

    .pokedex {
        width: 100%;
    }

    .pokemons {
        align-items: center;
    }

    .pokemon {
        &.selected, &:hover {
            transform: scale(1.02);
            border-radius: 0.4rem;
        }
    }
}

@media screen and (max-width: 880px) {
    #reset img {
        width: 100%;
    }
}